{% extends "layout.html.twig" %}

{% block body %}
  <h2>Commentez</h2>
  <form method="post" action="commentaire.php?idFilm={{GET.idFilm}}" id="monForm">
    <p> <label for="Auteur">Auteur :</label>
     <input type="text" name="auteur" id="auteur" value="" maxlength="10" /> </p>

    <p> <label for="Message" style="vertical-align: top;">Message: </label>
      <textarea type="test" name="message" id="message" value="votre message ici"></textarea> </p>

    <p> <label class="form_label_nostyle">&nbsp;</label> <input type="submit" value="Publier"></input> <input type="reset" value="Effacer"></input> </p>
  </form>
  {{add_comm}}
  <h2>Film du blog</h2>
  <p><a href="index.php">Retour à la liste des films</a></p>

  {% for film in films %}
    {% if film.id == GET.idFilm %}
        <div class="liste_film">
        <h2>{{film.titre}} - <i>Sortie le {{film.dateSortie|date('d/m/y')}} - Réalisé par {{film.idMES.prenom}} {{film.idMES.nom}}</i></h2>
            <div class="content_liste_film">                          
                <b>Acteurs</b> :
                    {% for acteur in acteurs %}
                        {% if film.id == acteur.idFilm.id %}
                            {{acteur.idActeur.prenom}} {{acteur.idActeur.nom}},
                        {% endif %}
                    {% endfor %}...              
                <br/><b>Film</b> : {{film.origine}}
                <br/><b>Genre</b> : {{film.genre}}
                <br/><b>Resumé</b> : {{film.resume}}                           
            </div>
        </div>
    {% endif %}
  {% endfor %}

  <h2>Commentaires</h2>
  {% for commentaire in commentaires %}
    {% if commentaire.idFilm.id == GET.idFilm %}
      <div class="liste_film">
        <h2>{{commentaire.auteur}} le {{commentaire.datePost|date('d/m/y')}} a {{commentaire.datePost|date('H')}}h{{commentaire.datePost|date('i')}}min{{commentaire.datePost|date('s')}}s </h2>
        <div class="content_liste_film">{{commentaire.contenu}}</div>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}
