<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mon blog - Films et commentaires</title>
    <link rel="stylesheet" href="templates/styles/style.css">

  </head>
  <body>
    {% block body %}
      <h1>Mon Blog</h1>
      <h2>Liste des films</h2>
      {% for film in film %}
        <div class="liste_film">
          <h2>{{film.titre}} - <i>Sortie le {{film.dateSortie|date('d/m/y')}} - Réalisé par {{film.prenom}} {{film.prenom}}</i></h2>
          Acteurs : {% for acteur in acteurs %} {{acteur.prenom}} {{acteur.nom}} {% endfor %}
        </div>
      {% endfor %}
    {% endblock %}
